.practices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  .content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    margin-top: 43px;
    border-radius: 5px;

    img {
      width: 20%;
      position: absolute;
      top: -50px;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 90px 15px 10px 15px;
    }
  }

  .practices-list {
    display: flex;
    flex-direction: column;
  }

  .practices-list {
    display: flex;
    flex-direction: column;
  }
}

// media queries
@media (max-width: 992px) {
  .practices {
    .content {
      width: 560px;
      img {
        width: 25%;
        position: absolute;
        top: -45px;
      }
    }
  }
}

@media (max-width: 576px) {
  .practices {
    .content {
      width: 95%;
      img {
        width: 140px;
      }
    }
  }
}
