.tictactoe {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 20px;
    font-weight: 700;
    margin: 12px;
  }

  .players {
    display: flex;
    .player {
      .identity {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .game {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    position: relative;
    .grid {
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      img {
        position: absolute;
        width: 100%;
        margin: 0;
        z-index: -1;
        &#win-image {
          display: none;
          z-index: 1;
          &.position_1 {
            display: block;
            top: 52px;
          }
          &.position_2 {
            display: block;
            top: 163px;
          }
          &.position_3 {
            display: block;
            top: 287px;
          }
          &.position_4 {
            display: block;
            transform: rotate(90deg);
            top: 167px;
            right: 120px;
          }
          &.position_5 {
            display: block;
            transform: rotate(90deg);
            top: 167px;
          }
          &.position_6 {
            display: block;
            transform: rotate(90deg);
            top: 167px;
            left: 112px;
          }
          &.position_7 {
            display: block;
            top: 162px;
            left: -62px;
            transform: rotate(45deg);
            width: 135%;
          }
          &.position_8 {
            display: block;
            top: 162px;
            left: -65px;
            transform: rotate(135deg);
            width: 135%;
          }
        }
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//media queries
@media (max-width: 576px) {
  .tictactoe {
    p {
      font-size: 18px;
    }

    .players {
      .player {
        width: 120px;
      }
    }

    .game {
      width: 215px;
      height: 215px;
      .grid {
        img {
          &#win-image {
            &.position_1 {
              top: 32px;
            }
            &.position_2 {
              top: 103px;
            }
            &.position_3 {
              top: 174px;
            }
            &.position_4 {
              top: 100px;
              right: 74px;
            }
            &.position_5 {
              top: 100px;
            }
            &.position_6 {
              top: 100px;
              left: 69px;
            }
            &.position_7 {
              top: 98px;
              left: -36px;
            }
            &.position_8 {
              top: 98px;
              left: -36px;
            }
          }
        }
      }
    }
  }
}
