.not-found {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #f7f3eb;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  h1 {
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    background: url(../images/small_lake.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
}
