.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../../images/lake.png");
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 576px) {
  .banner {
    height: 200px;
  }
}
